services:
  db:
    image: mysql:8.0
    container_name: inventory_mysql
    environment:
      MYSQL_DATABASE: inventorydb
      MYSQL_USER: inventoryuser
      MYSQL_PASSWORD: inventorypass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build: .
    container_name: inventory_api
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/inventorydb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: inventoryuser
      SPRING_DATASOURCE_PASSWORD: inventorypass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

volumes:
  mysql_data:
